/* Horizontal Carousel */
#reco_product {
    height: 200px;
}
/*#home_carousel {
  float: left;
  width: 1070px;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}*/

#home_carousel .container {
  float: left;
  width: 958px;
  height: 169px;
  position: relative;    
  overflow: hidden;
  border: 0px;
}

#home_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 168px;
}                     

#home_carousel ul li {
  width: 120px;
  height: 168px;
  text-align: center; 
  list-style:none;   
  float:left;
}

#home_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -520px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}

#home_carousel .previous_button_over {
  background: url(../image/sprites_2nd.gif) -50px -520px no-repeat;
}

#home_carousel .previous_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -520px no-repeat;
  cursor: default;
}

#home_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -630px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

#home_carousel .next_button_over {
  background: url(../image/sprites_2nd.gif) -50px -630px no-repeat;
}

#home_carousel .next_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -630px no-repeat;
  cursor: default;
}

#home_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 10px;
    padding: 6px 6px 5px 6px;
    color: #363636;
    height: 155px;
    margin: 0px 2px 0px 2px;
}

#home_carousel ul li:hover div.prod {
    border: 1px solid #ED6D0F;
}

#home_carousel .price-box {
    text-align: left;
    padding-left: 10px;
}

#home_carousel .container a .product-name {
    color: #4D4D4D;
}

#home_carousel .product-name {
    padding: 3px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

#home_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

#home_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

#home_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

#home_carousel .off-sale {
    display: none;
}

.home_recommend h3 {
    background: url(../image/sprites_2nd.gif) 0 -240px no-repeat;
    text-indent: -9999px;
    height: 15px;
    width: 400px;
    padding: 5px 0px 10px 0px;
}
.home_recommend h3.ac-reco-cat {
    background: url(../image/h3_recommended_items_cat.gif) top left no-repeat;
    text-indent: -9999px;
    height: 15px;
    width: 400px;
    /*padding: 5px 0px 10px 0px;*/
    padding: 0px 0px 16px;
    margin: 16px 0px 0px;
}

/* product page */
#product_carousel, #recent_view_carousel {
  float: left;
  width: 958px;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}

.product_carousel .container {
  float: left;
  width: 958px;
  height: 169px;
  position: relative;    
  overflow: hidden;
  border: 0px;
}

.product_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 168px;
}                      

.product_carousel ul li {
  width: 120px;
  height: 168px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.product_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -520px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}

.product_carousel .previous_button_over {
  background: url(../image/sprites_2nd.gif) -50px -520px no-repeat;
}

.product_carousel .previous_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -520px no-repeat;
  cursor: default;
}

.product_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -630px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

.product_carousel .next_button_over {
  background: url(../image/sprites_2nd.gif) -50px -630px no-repeat;
}

.product_carousel .next_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -630px no-repeat;
  cursor: default;
}

.product_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 6px 6px 5px 6px;
    color: #363636;
    height: 155px;
    margin: 0px 2px 0px 2px;
}

.product_carousel ul li:hover div.prod {
  border: 1px solid #ED6D0F;
}

.product_carousel .price-box {
    text-align: left;
    padding-left: 10px;
}

.product_carousel .container a .product-name {
    color: #4D4D4D;
}

.product_carousel .product-name {
    padding: 3px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

.product_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px
}

.product_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.product_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.product_carousel .off-sale {
    display: none;
}

/* product page for top-sellers */
#top_sellers_product_carousel, #recent_view_carousel {
  float: left;
  width: 1070px;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}

.top_sellers_product_carousel .container {
  float: left;
  width: 958px;
  height: 169px;
  position: relative;    
  overflow: hidden;
  border: 0px;
}

.top_sellers_product_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 168px;
}                      

.top_sellers_product_carousel ul li {
  width: 120px;
  height: 168px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.top_sellers_product_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -520px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}

.top_sellers_product_carousel .previous_button_over {
  background: url(../image/sprites_2nd.gif) -50px -520px no-repeat;
}

.top_sellers_product_carousel .previous_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -520px no-repeat;
  cursor: default;
}

.top_sellers_product_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -630px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

.top_sellers_product_carousel .next_button_over {
  background: url(../image/sprites_2nd.gif) -50px -630px no-repeat;
}

.top_sellers_product_carousel .next_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -630px no-repeat;
  cursor: default;
}

.top_sellers_product_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 6px 6px 5px 6px;
    color: #363636;
    height: 155px;
    margin: 0px 2px 0px 2px;
}

.top_sellers_product_carousel ul li:hover div.prod {
  border: 1px solid #ED6D0F;
}

.top_sellers_product_carousel .price-box {
    text-align: left;
    padding-left: 10px;
}

.top_sellers_product_carousel .container a .product-name {
    color: #4D4D4D;
}

.top_sellers_product_carousel .product-name {
    padding: 3px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

.top_sellers_product_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px
}

.top_sellers_product_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.top_sellers_product_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.top_sellers_product_carousel .off-sale {
    display: none;
}

/* product page for category-rec */
#category_rec_product_carousel {
  float: left;
  width: 1070px;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}

.category_rec_product_carousel .container {
  float: left;
  width: 958px;
  height: 169px;
  position: relative;    
  overflow: hidden;
  border: 0px;
}

.category_rec_product_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 168px;
}                      

.category_rec_product_carousel ul li {
  width: 120px;
  height: 168px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.category_rec_product_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -520px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}

.category_rec_product_carousel .previous_button_over {
  background: url(../image/sprites_2nd.gif) -50px -520px no-repeat;
}

.category_rec_product_carousel .previous_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -520px no-repeat;
  cursor: default;
}

.category_rec_product_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -630px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

.category_rec_product_carousel .next_button_over {
  background: url(../image/sprites_2nd.gif) -50px -630px no-repeat;
}

.category_rec_product_carousel .next_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -630px no-repeat;
  cursor: default;
}

.category_rec_product_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 6px 6px 5px 6px;
    color: #363636;
    height: 155px;
    margin: 0px 2px 0px 2px;
}

.category_rec_product_carousel ul li:hover div.prod {
  border: 1px solid #ED6D0F;
}

.category_rec_product_carousel .price-box {
    text-align: left;
    padding-left: 10px;
}

.category_rec_product_carousel .container a .product-name {
    color: #4D4D4D;
}

.category_rec_product_carousel .product-name {
    padding: 3px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

.category_rec_product_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px
}

.category_rec_product_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.category_rec_product_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.category_rec_product_carousel .off-sale {
    display: none;
}

h3#ac_topsellers{
  background:url(../image/sprites_2nd.gif) no-repeat 0 -50px;
  height:15px;
  margin:16px 0 0 ;
  padding:0 0 14px;
  text-indent:-9999px;
  width:400px;
}
#topsellers_carousel, #recent_view_carousel {
  float: left;
  width: 1070px;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}

.topsellers_carousel .container {
  float: left;
  width: 958px;
  height: 169px;
  position: relative;    
  overflow: hidden;
  border: 0px;
}

.topsellers_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 168px;
}                      

.topsellers_carousel ul li {
  width: 120px;
  height: 168px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.topsellers_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/home_slide_left.gif) 0px 0px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}

.topsellers_carousel .previous_button_over {
  background: url(../image/home_slide_left_over.gif) 0px 0px no-repeat;
}

.topsellers_carousel .previous_button_disabled {
  background: url(../image/home_slide_left_disabled.gif) 0px 0px no-repeat;
  cursor: default;
}

.topsellers_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/home_slide_right.gif) 0px 0px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

.topsellers_carousel .next_button_over {
  background: url(../image/home_slide_right_over.gif) 0px 0px no-repeat;
}

.topsellers_carousel .next_button_disabled {
  background: url(../image/home_slide_right_disabled.gif) 0px 0px no-repeat;
  cursor: default;
}

.topsellers_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 6px 6px 5px 6px;
    color: #363636;
    height: 155px;
    margin: 0px 2px 0px 2px;
}

.topsellers_carousel ul li:hover div.prod {
  border: 1px solid #ED6D0F;
}

.topsellers_carousel .price-box {
    text-align: left;
    padding-left: 10px;
}

.topsellers_carousel .container a .product-name {
    color: #4D4D4D;
}

.topsellers_carousel .product-name {
    padding: 3px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

.topsellers_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px
}

.topsellers_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.topsellers_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.topsellers_carousel .off-sale {
    display: none;
}



.product_recommend h3 {
    background: url(../image/sprites_2nd.gif) 0 -50px no-repeat;
    text-indent: -9999px;
    height: 15px;
    width: 400px;
    margin: 16px 0px 0px 0px;
    padding: 0px 0px 14px 0px;
}

.recent_product h3 {
    /*background: url(../image/sprites_2nd.gif) 0 -100px no-repeat;
    text-indent: -9999px;*/
    height: 15px;
    /*width: 400px;*/
    margin: 25px 0px 20px 0px;
    padding: 10px ;
    font-size:12px;
    font-weight:normal;
    background:#f4f4f4;
    border:1px solid #d9d9d9;
}

/* cart recommend */
.checkout-cart-index #home_carousel {
  float: left;
  width: 100%;
  height: 168px;
  margin-bottom: 10px;
  position: relative;
}

/* vertical Carousel */

.ui_vertical_carousel {
}

#vertical_carousel {
  float:left;
  width: 200px;
  height: 846px;
  margin-bottom: 10px;
  position: relative;
}

#vertical_carousel .container {
  float:left;  
  width: 200px;
  height: 816px;
  overflow: hidden;
  border: 0px;
}

#vertical_carousel ul {
  margin: 0;
  padding:0;
  height: 100000px;
  position: relative;
  top: 0;
  left: 0;
}

#vertical_carousel ul li {
  width: 200px;
  text-align: center;      
  list-style:none;   
  float:left;
}                         

#vertical_carousel .previous_button {
  float:left;
  height: 12px;
  width: 50px;
  background: url(../image/btn_slide_top.gif) 0 0 no-repeat;
  cursor: pointer;    
  display:inline;
  margin: 0 0 10px 85px;
}

#vertical_carousel .previous_button_over {
  background: url(../image/btn_slide_top_over.gif) 0 0 no-repeat;
}

#vertical_carousel .previous_button_disabled {
  background: url(../image/btn_slide_top_disabled.gif) 0 0 no-repeat;
  cursor: default;
}

#vertical_carousel .next_button {
  float:left;
  height: 12px;
  width: 50px;
  background: url(../image/btn_slide_bottom.gif) 0 0 no-repeat;
  display:inline;
  margin-left: 85px;
  cursor: pointer;
}

#vertical_carousel .next_button_over {
  background: url(../image/btn_slide_bottom_over.gif) 0 0 no-repeat;
}

#vertical_carousel .next_button_disabled {
  background: url(../image/btn_slide_bottom_disabled.gif) 0 0 no-repeat;
  cursor: default;
}

.vertical_carousel .container div.prod {
    border: 1px solid #DDDDDD;
    font-size: 12px;
    padding: 8px 6px 5px 6px;
    color: #363636;
    height: 82px;
    margin: 0px 0px 5px 0px;
}

#vertical_carousel ul li:hover div.prod {
  border: 1px solid #ED6D0F;
}  

#vertical_carousel ul li a {
    display: block;
    float: left;
}

.vertical_carousel .product-image {
    float: left;
    display: block;
    margin: 0px;
    width: 70px;
    height: 70px;
    padding: 4px;
}

.vertical_carousel .product-name {
    float: left;
    display: block;
    width: 108px;
    text-align: left;
    word-break:break-all;
    word-wrap:break-word;
}

.vertical_carousel .price-box {
    text-align: left;
    float: left;
}

.vertical_carousel .container a .product-name {
    color: #4D4D4D;
}

.vertical_carousel .old-price {
    width: 50px;
    float:left;
}

.vertical_carousel .special-price {
    width: 50px;
    float:left;
    padding-left: 8px;
}
.vertical_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.vertical_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.vertical_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.vertical_carousel .off-sale {
    display: none;
}

.relate_product h3 {
    background: url(../image/h3_product_recom_item.gif ) top left no-repeat;
    text-indent: -9999px;
    height: 60px;
    width: 180px;
}

div.home_recommend {
    height:330px;
    padding-bottom: 0px;
}

#reco_home {
    margin-top: 45px;
}

.topbrands {
    margin: 40px 0px 0px 0px;
}
.topbrands iframe {
    height: 130px;
}
.relate_product{
	padding-left:10px;
}

/* text link underline */
#home_carousel a:link,#vertical_carousel a:link,#product_carousel a:link,#recent_view_carousel a:link,#reco_topsellers a:link,#reco_product a:link{ text-decoration: none;}
#home_carousel a:visited,#vertical_carousel a:visited,#product_carousel a:visited,#recent_view_carousel a:visited,#reco_topsellers a:visited,#reco_product a:visied{ text-decoration: none;}
#home_carousel a:active,#vertical_carousel a:active,#product_carousel a:active,#recent_view_carousel a:active,#reco_topsellers a:active,#reco_product a:active{ text-decoration: none;}
#home_carousel a:hover,#vertical_carousel a:hover,#product_carousel a:hover,#recent_view_carousel a:hover,#reco_topsellers a:hover,#reco_product a:hover{ text-decoration: none;}

.home_recommend .old-price,.home_recommend .special-price{line-height:125%;}

#category-rec div.absolute-0    {  
    position: absolute;  
    top: 0;  
    left: 0; 
    }
#category-rec #reco_home { margin-top:0px;}
#category-rec #reco_home h3 {padding:0 0 5px;background:url(../image/h3_recommend_cat.gif) no-repeat;width:423px;}
#category-rec #reco_home h3.brand-recomm {margin-top:20px;padding:0 0 5px;background:url(../image/h3_recommend_brand.gif) no-repeat;width:423px;}
#category-rec #home_carousel {width:100%;height:150px;}
#category-rec div.home_recommend {height:150px;}
#category-rec #home_carousel .container {height:140px;}
#category-rec #home_carousel .container li,#category-rec #home_carousel .container div.prod{height:120px;}
#category-rec #home_carousel .container h4.product-name {display:none;}
#category-rec #home_carousel .previous_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -537px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
}
#category-rec #home_carousel .previous_button_over {
  background: url(../image/sprites_2nd.gif) -50px -537px no-repeat;
}
#category-rec #home_carousel .previous_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -537px no-repeat;
  cursor: default;
}
#category-rec #home_carousel .next_button {
  float:left;  
  width: 15px;
  height: 168px;
  background: url(../image/sprites_2nd.gif) 0px -648px no-repeat;
  z-index: 100;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}
#category-rec #home_carousel .next_button_over {
  background: url(../image/sprites_2nd.gif) -50px -648px no-repeat;
}
#category-rec #home_carousel .next_button_disabled {
  background: url(../image/sprites_2nd.gif) -100px -648px no-repeat;
  cursor: default;
}

/* LOCONDO 2 HOME RECOMMEND  */
.recommendeditems {margin:0 0 40px;}

.recommendeditems #reco_home{margin:0;}

.recommendeditems #top_carousel{
	min-width:604px;
	max-width:810px;
}
.recommendeditems #top_carousel .container{
  position: relative;  
	min-width:604px;
	max-width:810px;
	height:342px;
	width:100%;  
  overflow: hidden;
  border: 0px;
  background:url(../image/border_dot_e6.gif) repeat-x scroll 0 170px transparent;
}

.recommendeditems #top_carousel ul{
	min-width:604px;
	max-width:810px;
	height:100%;
	overflow:hidden;
}

.recommendeditems #top_carousel ul li{
	width:90px;
    height: 155px;
	margin:0 0 5px;
    padding: 6px 12px 5px 12px;
	float:left;
	display:inline;
    font-size: 10px;
    color: #363636;
}
.recommendeditems #top_carousel .container div.prod{border:none;}

.recommendeditems #top_carousel .container div.prod .regular-price .price{
	font-size:11px;
	font-weight:bold;
	color:#333;
}
.recommendeditems #top_carousel .container div.prod .special-price .price{
	font-size:11px;
	font-weight:bold;
	color:#f00;
}

/* LOCONDO 2 HOME ITEM RANKING  */

.itemranking {
	margin:0 0 30px;
}

.itemranking #reco_home{margin:0;}

.itemranking #home_ranking_carousel{
	min-width:604px;
	max-width:810px;
}
.itemranking #home_ranking_carousel .container{
	width:100%;
	height:340px;
	min-width:604px;
	max-width:810px;
	border:none;
	overflow:hidden;
	background:url(/skin/frontend/locondo/standard/image/border_dot_666.gif) repeat-x scroll 0 165px transparent;
}

.itemranking #home_ranking_carousel ul{
	width:100%;
}

.itemranking #home_ranking_carousel ul li{
	width:18%;
    height: 155px;
	margin:0 0 10px;
    padding: 6px 6px 5px 6px;
	float:left;
	display:inline;
    font-size: 10px;
    color: #363636;
    text-align:center;
}
.itemranking #home_ranking_carousel ul li .product-name{
	width:85px;
	margin:0 auto;
	text-align:left;
}
.itemranking #home_ranking_carousel ul li .price-box{
	width:85px;
	margin:0 auto;
	text-align:left;
}
.itemranking #home_ranking_carousel .regular-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.itemranking #home_ranking_carousel .old-price .price {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}

.itemranking #home_ranking_carousel .special-price .price {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}
.itemranking #home_ranking_carousel .prod{
	position:relative;
}
.recommendeditems li,
.itemranking #home_ranking_carousel ul li{
	background:url(/image/border_dot_e6.gif) repeat-x;
	}
#home_ranking_carousel .ranking-box{
	position:absolute;
	top:0;
	left:0;
	height:29px;
	width:19px;		
}
#home_ranking_carousel .rank1{
	background:url(../image/icon_ranking.gif) no-repeat;
	width:33px;	
}
#home_ranking_carousel .rank2{
	background:url(../image/icon_ranking.gif) no-repeat -34px 0px;
}
#home_ranking_carousel .rank3{
	background:url(../image/icon_ranking.gif) no-repeat -53px 0px;
}
#home_ranking_carousel .rank4{
	background:url(../image/icon_ranking.gif) no-repeat -72px 0px;
}
#home_ranking_carousel .rank5{
	background:url(../image/icon_ranking.gif) no-repeat -90px 0px;
}
#home_ranking_carousel .rank6{
	background:url(../image/icon_ranking.gif) no-repeat -109px 0px;
}
#home_ranking_carousel .rank7{
	background:url(../image/icon_ranking.gif) no-repeat -128px 0px;
}
#home_ranking_carousel .rank8{
	background:url(../image/icon_ranking.gif) no-repeat -147px 0px;
}
#home_ranking_carousel .rank9{
	background:url(../image/icon_ranking.gif) no-repeat -166px 0px;
}
#home_ranking_carousel .rank10{
	background:url(../image/icon_ranking.gif) no-repeat -185px 0px;
}
#product_category_carousel{
	margin-bottom:70px;
}
#product_other_carousel,
#product_popular_carousel{
	margin-bottom:30px;
}

#reco_topsellers div.home_recommend {
    height:150px;
    padding-bottom: 0px;
}
#checkout-rec div.home_recommend h3{
 margin-left: 50px;
}
#checkout-rec #home_carousel{
 width:1120px;
}
#checkout-rec #home_carousel .container{
 width:1080px;
}
#cart-rec .home_recommend{
 margin-top:-30px;
}
#cart-rec #home_carousel{
 min-width:1120px;
 max-width:1360px;
}
#cart-rec #home_carousel .container{
 min-width:1080px;
 max-width:1320px;
}
#cart-rec div.home_recommend{
	height:210px;
}