.info-order {
	margin:20px 0 20px;}

.info-order table{
	width:100%;
	margin:0 0 5px;
}
.info-order table,.info-order th,.info-order td{
	padding:15px;
	border:1px solid #ccc;
	border-collapse:collapse;
	vertical-align: middle;
}
.info-order th{
	width:200px;
	background:#eee;
}
.info-order td p{
	width:auto;
	float:left;
	display:inline;
	margin:0 20px 0 0;
	line-height:27px;
}
.info-order td p.btn-edit a{
	width:85px;
	height:27px;
	display:block;
	background:url(../image/btn_edit_confirm.gif) no-repeat;
	text-indent:-9999px;
	text-decoration:none;
}
.info-order p.txt-small{
	margin:0;
	font-size:11px;
}